{
    "openapi": "3.0.0",
    "info": {
        "title": "Documentation",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.rachitpatel.com/v1",
            "description": "Live Base URL"
        },
        {
            "url": "https://api-laravel.test/v1",
            "description": "Base URL"
        },
        {
            "url": "https://dp-api.local/v1",
            "description": "Base URL 1"
        },
        {
            "url": "http://127.0.0.1:8000/v1",
            "description": "Local Base URL"
        }
    ],
    "paths": {
        "/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User login",
                "description": "Logs in a user and returns an access token",
                "operationId": "loginUser",
                "requestBody": {
                    "description": "User credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "123456789"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "type": "string",
                                            "example": "200"
                                        },
                                        "access-token": {
                                            "type": "string",
                                            "example": "Bearer {access_token}"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User logout",
                "description": "Logs out the authenticated user and revokes the access token.",
                "operationId": "logout",
                "responses": {
                    "204": {
                        "description": "Logged out successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out successfully"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "type": "string",
                                            "example": "204"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/refresh-token": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Refresh the authentication token",
                "description": "Revokes the existing token and generates a new token for the authenticated user.",
                "operationId": "0620fc3f15b3351c5a388cd1d0ee913f",
                "responses": {
                    "200": {
                        "description": "Token refreshed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Token refreshed"
                                        },
                                        "meta": {
                                            "properties": {
                                                "accessToken": {
                                                    "type": "string",
                                                    "example": "1|abc123..."
                                                },
                                                "expires_in": {
                                                    "type": "integer",
                                                    "example": 60
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/email/verification-link": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Send email verification notification",
                "operationId": "308c10b0198988dee06bc4633c26b6a8",
                "requestBody": {
                    "description": "Request body containing user email",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "User's email address",
                                        "type": "string",
                                        "format": "email"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Message indicating successful email sending",
                                            "type": "string",
                                            "example": "Verification email sent successfully"
                                        },
                                        "status": {
                                            "description": "Status of the response",
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "description": "HTTP status code",
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Message indicating that the email is already verified",
                                            "type": "string",
                                            "example": "Email already verified"
                                        },
                                        "statusCode": {
                                            "description": "HTTP status code",
                                            "type": "integer",
                                            "example": 400
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/auth/reset-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Change user password after email verification",
                "description": "Change user password after email verification.",
                "operationId": "b773aaaeaa6d02a1785bb47b8d05fb91",
                "requestBody": {
                    "description": "Request body containing the verification token and new password",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "Verification token received in the email",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "New password",
                                        "type": "string"
                                    },
                                    "password_confirmation": {
                                        "description": "Confirmation of the new password",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Message indicating successful password change",
                                            "type": "string",
                                            "example": "Password changed successfully"
                                        },
                                        "status": {
                                            "description": "Status of the response",
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "description": "HTTP status code",
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Message indicating expired verification token",
                                            "type": "string",
                                            "example": "Verification token has expired"
                                        },
                                        "status": {
                                            "description": "Status of the response",
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "description": "HTTP status code",
                                            "type": "integer",
                                            "example": 400
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Message indicating invalid verification token",
                                            "type": "string",
                                            "example": "Invalid verification token"
                                        },
                                        "status": {
                                            "description": "Status of the response",
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "description": "HTTP status code",
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/oauth/google": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get Google authentication URL",
                "description": "Get the Google authentication URL.",
                "operationId": "4cad9f454e139c80557c4b33bc85aeff",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Message indicating successful login",
                                            "type": "string",
                                            "example": "Login successful"
                                        },
                                        "status": {
                                            "description": "Status of the response",
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "description": "HTTP status code",
                                            "type": "string",
                                            "example": "200"
                                        },
                                        "data": {
                                            "properties": {
                                                "url": {
                                                    "description": "URL for Google authentication",
                                                    "type": "string",
                                                    "format": "url"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/google/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Log in with Google authentication",
                "description": "Log in with Google authentication.",
                "operationId": "9f4603884c7ea31616b823f550b12f04",
                "requestBody": {
                    "description": "Request body containing authentication code",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "authCode"
                                ],
                                "properties": {
                                    "authCode": {
                                        "description": "Authentication code received from Google",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Message indicating successful login",
                                            "type": "string",
                                            "example": "Login successful"
                                        },
                                        "status": {
                                            "description": "Status of the response",
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "description": "HTTP status code",
                                            "type": "string",
                                            "example": "200"
                                        },
                                        "accessToken": {
                                            "description": "Access token for the user",
                                            "type": "string",
                                            "format": "text"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Send password reset link",
                "description": "Send password reset link.",
                "operationId": "febbd99ec02533a62072c943c8864557",
                "requestBody": {
                    "description": "Request body containing user email",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "User's email address",
                                        "type": "string",
                                        "format": "email"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Message indicating successful password reset link sending",
                                            "type": "string",
                                            "example": "Password reset link sent successfully"
                                        },
                                        "status": {
                                            "description": "Status of the response",
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "description": "HTTP status code",
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new user",
                "description": "Registers a new user with the provided information.",
                "operationId": "f024dbf1273b8a27c30d428e9c1fb20d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "first_name": {
                                        "description": "User's first name",
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "description": "User's last name",
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "description": "User's email address",
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "description": "User's password",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "user_type": {
                                        "description": "Type of user being registered",
                                        "type": "string",
                                        "enum": [
                                            "doctor",
                                            "lab"
                                        ],
                                        "example": "doctor"
                                    },
                                    "address_line_1": {
                                        "description": "Address line 1 for doctor or lab users",
                                        "type": "string",
                                        "example": "123 Main St."
                                    },
                                    "address_line_2": {
                                        "description": "Address line 2 for doctor or lab users",
                                        "type": "string",
                                        "example": "Apt 101"
                                    },
                                    "city": {
                                        "description": "City of the user",
                                        "type": "string",
                                        "example": "New York"
                                    },
                                    "state": {
                                        "description": "State of the user",
                                        "type": "string",
                                        "example": "NY"
                                    },
                                    "country": {
                                        "description": "Country of the user",
                                        "type": "string",
                                        "example": "USA"
                                    },
                                    "postal_code": {
                                        "description": "Postal code of the user",
                                        "type": "string",
                                        "example": "10001"
                                    },
                                    "contact_phone": {
                                        "description": "Phone number of the doctor",
                                        "type": "string",
                                        "example": "123-456-7890"
                                    },
                                    "doctor_email_address": {
                                        "description": "Email address for the doctor",
                                        "type": "string",
                                        "format": "email",
                                        "example": "doctor@example.com"
                                    },
                                    "name": {
                                        "description": "Name of the lab",
                                        "type": "string",
                                        "example": "LabCorp"
                                    },
                                    "reports": {
                                        "description": "UUIDs of reports associated with the lab",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "report-uuid-123"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Registration successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Registration successful"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 201
                                        },
                                        "access-token": {
                                            "type": "string",
                                            "example": "your_access_token"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/auth/email/verify": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Verify user email",
                "operationId": "83528ae96e0cd0df06dd64b71e937051",
                "requestBody": {
                    "description": "Request body containing the verification token",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "Verification token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Message indicating successful user verification",
                                            "type": "string",
                                            "example": "User verified successfully"
                                        },
                                        "status": {
                                            "description": "Status of the response",
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "description": "HTTP status code",
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Message indicating failure to verify email",
                                            "type": "string",
                                            "example": "Failed to verify email"
                                        },
                                        "status": {
                                            "description": "Status of the response",
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "description": "HTTP status code",
                                            "type": "integer",
                                            "example": 400
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Message indicating invalid verification token",
                                            "type": "string",
                                            "example": "Invalid verification token"
                                        },
                                        "status": {
                                            "description": "Status of the response",
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "description": "HTTP status code",
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/device": {
            "get": {
                "tags": [
                    "Devices"
                ],
                "summary": "Get list of all devices",
                "operationId": "eb744815d30238306021a383ed460f08",
                "responses": {
                    "200": {
                        "description": "Device data getting successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DeviceResource"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Devices"
                ],
                "summary": "Create a new Device",
                "description": "Create a new Device with the provided information.",
                "operationId": "createDevice",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "Device name",
                                        "type": "string",
                                        "example": "My company"
                                    },
                                    "device_vendor_id": {
                                        "description": "Device Vendor id",
                                        "type": "string",
                                        "example": "safsdfsf"
                                    },
                                    "api_key": {
                                        "description": "Device api key",
                                        "type": "string",
                                        "example": "Mydsfsdfds"
                                    },
                                    "device_type": {
                                        "description": "Device type",
                                        "type": "string",
                                        "example": "My company"
                                    },
                                    "status": {
                                        "description": "Device status",
                                        "type": "string",
                                        "example": "Active"
                                    },
                                    "device_sim": {
                                        "description": "Device Sim",
                                        "type": "string",
                                        "example": "No"
                                    },
                                    "secret_key": {
                                        "description": "Device secret key",
                                        "type": "string",
                                        "example": "Acsdfgfgtive"
                                    },
                                    "device_model": {
                                        "description": "Device model",
                                        "type": "string",
                                        "example": "Active vcxzv"
                                    },
                                    "rfid": {
                                        "description": "Device rfid",
                                        "type": "string",
                                        "example": "Yes"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Device created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Device created successfully"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "type": "string",
                                            "example": "201"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/DeviceResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/device/{id}": {
            "get": {
                "tags": [
                    "Devices"
                ],
                "summary": "Show a specific Device",
                "description": "Fetch details of a Device by their ID.",
                "operationId": "showDevice",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Device to show",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "9d445a1c-cee5-4a68-b729-9edf8df71d87"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Device details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Device data fetch successfully"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/DeviceResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized access"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 401
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid Device ID"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 422
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "An error occurred on the server"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 500
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Devices"
                ],
                "summary": "Update a specific Device",
                "description": "Update the details of a Device by their ID.",
                "operationId": "updateDevice",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Device to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Updated Device data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "Device name",
                                        "type": "string",
                                        "example": "My company"
                                    },
                                    "device_vendor_id": {
                                        "description": "Device Vendor id",
                                        "type": "string",
                                        "example": "safsdfsf"
                                    },
                                    "api_key": {
                                        "description": "Device api key",
                                        "type": "string",
                                        "example": "Mydsfsdfds"
                                    },
                                    "device_type": {
                                        "description": "Device type",
                                        "type": "string",
                                        "example": "My company"
                                    },
                                    "status": {
                                        "description": "Device status",
                                        "type": "string",
                                        "example": "Active"
                                    },
                                    "device_sim": {
                                        "description": "Device Sim",
                                        "type": "string",
                                        "example": "No"
                                    },
                                    "secret_key": {
                                        "description": "Device secret key",
                                        "type": "string",
                                        "example": "Acsdfgfgtive"
                                    },
                                    "device_model": {
                                        "description": "Device model",
                                        "type": "string",
                                        "example": "Active vcxzv"
                                    },
                                    "rfid": {
                                        "description": "Device rfid",
                                        "type": "string",
                                        "example": "Yes"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Device updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeviceResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Device not found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Devices"
                ],
                "summary": "Delete a specific Device",
                "description": "Delete a Device by their ID.",
                "operationId": "deleteDevice",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Device to be deleted",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Device deleted successfully"
                    },
                    "404": {
                        "description": "Device not found"
                    }
                }
            }
        },
        "/device/vendor": {
            "get": {
                "tags": [
                    "DeviceVendors"
                ],
                "summary": "List all device vendors",
                "description": "Retrieve a list of all device vendors.",
                "operationId": "listDeviceVendors",
                "responses": {
                    "200": {
                        "description": "List of device vendors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "device vendors data retrieved successfully"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DeviceVendorResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/device/vendor/": {
            "post": {
                "tags": [
                    "DeviceVendors"
                ],
                "summary": "Create a new Device vendor",
                "description": "Create a new Device vendorv with the provided information.",
                "operationId": "createDeviceVendor",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "vendor company name",
                                        "type": "string"
                                    },
                                    "status": {
                                        "description": "Status",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Device vendor created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Device vendor created successfully"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "type": "string",
                                            "example": "201"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/DeviceVendorResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/device/vendor/{id}": {
            "get": {
                "tags": [
                    "DeviceVendors"
                ],
                "summary": "Show a specific Device Vendor",
                "description": "Fetch details of a Device Vendor by their ID.",
                "operationId": "showDeviceVendor",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Device Vendor to show",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "9d445a1c-cee5-4a68-b729-9edf8df71d87"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Device Vendor details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Device Vendor data fetch successfully"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/DeviceVendorResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized access"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 401
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid Device Vendor ID"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 422
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "An error occurred on the server"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 500
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "DeviceVendors"
                ],
                "summary": "Update a specific Device Vendor",
                "description": "Update the details of a Device Vendor by their ID.",
                "operationId": "updateDeviceVendor",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Device Vendor to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Updated Device Vendor data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "Device Vendor name",
                                        "type": "string",
                                        "example": "My company"
                                    },
                                    "status": {
                                        "description": "Device Vendor status",
                                        "type": "string",
                                        "example": "Active"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Device Vendor updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeviceResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Device Vendor not found"
                    }
                }
            }
        },
        "/device/Vendor/{id}": {
            "delete": {
                "tags": [
                    "DeviceVendors"
                ],
                "summary": "Delete Vendor a specific Device",
                "description": "Delete a Device Vendor by their ID.",
                "operationId": "deleteDeviceVendor",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Device Vendor to be deleted",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Device Vendor deleted successfully"
                    },
                    "404": {
                        "description": "Device Vendor not found"
                    }
                }
            }
        },
        "/doctor": {
            "get": {
                "tags": [
                    "Doctors"
                ],
                "summary": "List all Doctors",
                "description": "Retrieve a list of all Doctors.",
                "operationId": "listDoctors",
                "responses": {
                    "200": {
                        "description": "List of Doctors retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Doctors data retrieved successfully"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DoctorResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized access"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 401
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid input parameters"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 422
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "An unexpected error occurred on the server"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 500
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Doctors"
                ],
                "summary": "Create a new Doctor",
                "description": "Create a new Doctor with the provided information.",
                "operationId": "createDoctor",
                "requestBody": {
                    "description": "Doctor data for creating a new profile",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "gender",
                                    "dob",
                                    "address_line_1",
                                    "city",
                                    "state",
                                    "country",
                                    "postal_code",
                                    "hospital_id",
                                    "specialization"
                                ],
                                "properties": {
                                    "first_name": {
                                        "description": "Doctor's first name",
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "description": "Doctor's last name",
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "gender": {
                                        "description": "Doctor's gender",
                                        "type": "string",
                                        "enum": [
                                            "Male",
                                            "Female",
                                            "Other"
                                        ],
                                        "example": "Male"
                                    },
                                    "dob": {
                                        "description": "Doctor's date of birth",
                                        "type": "string",
                                        "format": "date",
                                        "example": "1985-08-25"
                                    },
                                    "address_line_1": {
                                        "description": "Primary address line",
                                        "type": "string",
                                        "example": "123 Main St"
                                    },
                                    "address_line_2": {
                                        "description": "Secondary address line",
                                        "type": "string",
                                        "example": "Apt 101"
                                    },
                                    "city": {
                                        "description": "City",
                                        "type": "string",
                                        "example": "New York"
                                    },
                                    "state": {
                                        "description": "State",
                                        "type": "string",
                                        "example": "NY"
                                    },
                                    "country": {
                                        "description": "Country",
                                        "type": "string",
                                        "example": "USA"
                                    },
                                    "postal_code": {
                                        "description": "Postal code",
                                        "type": "string",
                                        "example": "10001"
                                    },
                                    "mobile_no": {
                                        "description": "Doctor's mobile number",
                                        "type": "string",
                                        "example": "123-456-7890"
                                    },
                                    "email": {
                                        "description": "Doctor's email address",
                                        "type": "string",
                                        "format": "email",
                                        "example": "johndoe@example.com"
                                    },
                                    "hospital_id": {
                                        "description": "Hospital ID the doctor is associated with",
                                        "type": "string",
                                        "example": "d4f7a8f4-98f7-4c0f-8b2a-dce03a2fe6e3"
                                    },
                                    "marital_status": {
                                        "description": "Doctor's marital status",
                                        "type": "string",
                                        "enum": [
                                            "Single",
                                            "Married",
                                            "Divorced",
                                            "Widowed"
                                        ],
                                        "example": "Single"
                                    },
                                    "specialization": {
                                        "description": "Specializations of the doctor",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "cardiology"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Doctor created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Doctor created successfully"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "type": "string",
                                            "example": "201"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/DoctorResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "first_name": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The first name field is required."
                                                    }
                                                },
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The email has already been taken."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "An unexpected error occurred."
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 500
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/doctor/{id}": {
            "get": {
                "tags": [
                    "Doctors"
                ],
                "summary": "Show a specific Doctor",
                "description": "Fetch details of a Doctor by their ID.",
                "operationId": "showDoctor",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Doctor to show",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "9d445a1c-cee5-4a68-b729-9edf8df71d87"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Doctor details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Profile fetch successfully"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/DoctorResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized access"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 401
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid Doctor ID"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 422
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "An error occurred on the server"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "statusCode": {
                                            "type": "integer",
                                            "example": 500
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Doctors"
                ],
                "summary": "Update a specific Doctor",
                "description": "Update the details of a Doctor by their ID.",
                "operationId": "updateDoctor",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Doctor to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Updated Doctor data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "gender",
                                    "dob",
                                    "address_line_1",
                                    "city",
                                    "state",
                                    "country",
                                    "postal_code",
                                    "hospital_id",
                                    "specialization"
                                ],
                                "properties": {
                                    "first_name": {
                                        "description": "Doctor's first name",
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "description": "Doctor's last name",
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "gender": {
                                        "description": "Doctor's gender",
                                        "type": "string",
                                        "enum": [
                                            "Male",
                                            "Female",
                                            "Other"
                                        ],
                                        "example": "Male"
                                    },
                                    "dob": {
                                        "description": "Doctor's date of birth",
                                        "type": "string",
                                        "format": "date",
                                        "example": "1985-08-25"
                                    },
                                    "address_line_1": {
                                        "description": "Primary address line",
                                        "type": "string",
                                        "example": "123 Main St"
                                    },
                                    "address_line_2": {
                                        "description": "Secondary address line",
                                        "type": "string",
                                        "example": "Apt 101"
                                    },
                                    "city": {
                                        "description": "City",
                                        "type": "string",
                                        "example": "New York"
                                    },
                                    "state": {
                                        "description": "State",
                                        "type": "string",
                                        "example": "NY"
                                    },
                                    "country": {
                                        "description": "Country",
                                        "type": "string",
                                        "example": "USA"
                                    },
                                    "postal_code": {
                                        "description": "Postal code",
                                        "type": "string",
                                        "example": "10001"
                                    },
                                    "mobile_no": {
                                        "description": "Doctor's mobile number",
                                        "type": "string",
                                        "example": "123-456-7890"
                                    },
                                    "email": {
                                        "description": "Doctor's email address",
                                        "type": "string",
                                        "format": "email",
                                        "example": "johndoe@example.com"
                                    },
                                    "hospital_id": {
                                        "description": "Hospital ID the doctor is associated with",
                                        "type": "string",
                                        "example": "d4f7a8f4-98f7-4c0f-8b2a-dce03a2fe6e3"
                                    },
                                    "marital_status": {
                                        "description": "Doctor's marital status",
                                        "type": "string",
                                        "enum": [
                                            "Single",
                                            "Married",
                                            "Divorced",
[...]
